*
{
	margin: 0 auto;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
}
.cisti
{
	clear: both;
}
#zaglavlje
{
	margin-top: 25px;
	margin-bottom: 10px;
	width: 100%;
	background: url('slike/patern.png')  repeat-x;
	min-height: 220px;
}
#sadrzaj
{
	width: 100%;
}
#logo
{
	width: 216px;
	height: 216px;
	float: left;
}
#naslov
{
	float: left;
	height: 216px;
	text-transform: uppercase;
}
#naslov h1
{
	font-size: 50px;
	color: #ff0000;
	margin-top: 130px;
}
#logovanje
{
	float: right;
	min-height: 100px;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	padding: 5px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #ccc;
}
#logovanje input
{
	margin: 5px;
	padding: 5px;
}
#meni
{
	width: 100%;
	height: 50px;
	background: url('slike/patern.png') repeat;
	position: fixed;
	top: 0px;
	left: 0px;
}
#meni ul
{
	list-style: none;
	padding-top: 20px;
}
#meni ul li
{
	float: :left;
	padding-right: 20px;
	background: url('slike/patern.png') repeat;
}
#meni ul li a
{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}
#meni ul li a:hover
{
	color: red;
}
.aktivan ul 
{
	position: absolute;
	list-style: none;
	top: 0px;
	margin: 0px;
	padding: 0px;
	width: 200px;

}
.aktivan{
	display: inline;
	float: left;
	position: relative;
	text-align: center;
}
#meni li:hover ul, #meni li ul:hover {
  left:auto;
}
#sadrzaj
{
	width: 60%;
}
#sadrzaj #levo
{
	width: 60%;
	float: left;
}
#slikaN
{
	float: left;
	padding: 10px;
}
#naslovJ
{
	padding: 5px;
	font-size: 15px;
}
#tekstJ
{
	font-size: 12px;
}
#linkJ
{
	text-decoration: none;
}
#sadrzaj #levo .post
{
	margin-top: 10px;
	display: block;
	min-height: 150px;
	width: 80%;
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid #0000ff;
}
#sadrzaj #levo .post p
{
	margin-right: 5px;
	font-size: 12px;
}
#sadrzaj #levo .post a
{
	text-decoration: none;
	color:#4667ab;
}
#sadrzaj #levo .post a:hover
{
	color:#ff0000;
}
#sadrzaj #levo .post img
{
	float: right;
}
#sadrzaj #levo #prvi
{
	border-top: 1px solid #0000ff;
}
#sadrzaj #desno
{
	width: 40%;
	float: left;
}
#desno .sport
{
	width: 60%;
	min-height: 100px;
	margin: 20px;
	padding: 5px;
}
#desno .sport p
{
	font-size: 12px;
}
#desno #baneri
{
	margin-left: 50px;
}
#futer
{
	width: 100%;
	height:120px;
	text-align: center;
	padding:10px;
	font-size: 12px;
	background: url('slike/patern.png') repeat;
}
#futer h6
{
	font-size: 15px;
}
.kolona
{
	width: 30%;
	float: left;
	margin: 10px;
}
#futer #k2
{
	border-left: 3px dashed #FFF;
	border-right: 3px dashed #FFF;
}
#futer #k2 ul
{
	list-style: none;
}
#futer ul li a
{
	color: #fff;
	text-decoration: none;
}
#futer a
{
	text-decoration: none;
}
.pretraga
{
	width: 32px;
	height: 32px;
	background: url('slike/search.png');
}
.tbPretraga
{
	width: 150px;
	background: #ccc;
	height: 32px;
	margin-left: 20px;
}
.dugme
{
	margin-top: 5px;
	min-width: 100px;
	height: 25px;
	padding: 5px;
	color: #ccc;
	background: #ff0000;
	border: none;
	border-radius: 10px;
}
.dugme:hover
{
	color: #fff;
}
#gore
{
	margin-bottom: 10px;
}
#dole
{
	margin-top: 10px;
}
.tbLogovanje
{
	min-width: 200px;
	height: 25px;
	border-radius: 10px;
}
#galerija
{
	margin:10px auto;
	padding-left:70px;
}
#galerija .slika a img
{
	width:200px;
	height:100px;
	margin:5px;
	float:left;	
}
#oGradu
{
	margin:20px;
	font-size: 15px;
}
#oGradu h2
{
	font-size: 25px;
	margin-bottom: 10px;
}
#istorija
{
	margin:20px;
	font-size: 15px;
}
#istorija h3
{
	font-size: 25px;
	margin-bottom: 10px;
}
#izletista
{
	margin:20px;
	font-size: 15px;
}
#izletista h3
{
	font-size: 25px;
	margin-bottom: 10px;
}
#mapa
{
	margin:20px;
}
#baneri img
{
	width: 150px;
	height: 150px;
}
#mapa h3
{
	font-size: 12px;
}
#mlogo
{
	float: left;
	width: 50px;
	height: 50px;
	background: url('slike/mgrb.png');
	margin-right: 5px;
	display: none;
}
#fkontakt
{
	margin-top: 20px;
	border: 2px solid #4667ab;
	border-radius: 5px;
	font-size: 12px;
}
#fkontakt h4{
	text-align:center;
	font-size: 15px;
}
#fkontakt input
{
	margin:5px;
	padding: 5px;
}
#registracija
{
	margin-top:20px;
	border: 2px solid #4667ab;
	border-radius: 5px;
	font-size: 12px;
}
#registracija h3{
	text-align: center; 
	font-size: 15px;
}
#registracija input
{
	margin:5px;
	padding: 5px;
}
a
{
	text-decoration: none;
}
#user
{
	background: #ccc;
	min-width: 60%;
	padding: 10px;
	margin: 20px;
}
#user input
{
	margin: 5px;
	padding: 5px;
}
#user label
{
	font-size: 15px;
}
#user img
{
	width: 200px;
	height: 200px;
}
#meniLista
{
	float: left;
}
#korisnik
{
	float: right;
	color: #000;
	display: inline;
	padding: 5px;
	margin: 10px;
}
#korisnik a 
{
	color: #000;
}
.zebra
{
	background-color: #ddd;
	color: #b6b6b6;
}
.zebraHover
{
	background-color: #fffacd;
}
#gore img 
{
  display: none;
}

#gore .prikazana 
{
  display: inline;
}
.sakriveno
{
	display: none;
}
#futer #k2 ul li a:hover
{
	color: #ff0000;
}
.tabela
{
	margin: 10px auto;
	padding: 10px;
	text-align: center;
}
.tabela tr td
{
	padding: 5px;
}
#top
{
	height: 25px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	right: 100px;
	background-color: #ff0000;
	text-align: center;
	display: none;
}
#top a
{
	text-decoration: none;
	color: #fff;
}
.fLink
{
	color: #fff;
}
.rLink
{
	color: #ff0000;
	text-decoration: none;
}
.rezPretrage{
	margin: 10px auto;
	width: 60%;
	padding: 5px;
	color: #fff;
	background-color: #0000ff;
}